.caja {
    border: solid 2px red;
    width: 200px;
    height: 200px;
    background-color: dodgerblue;

    position: relative;
    top: 100px;
    left: 300px;

    z-index: -100;
}

.caja2 {
    border: solid 2px blue;
    width: 300px;
    height: 300px;

    position: absolute;
    top: 500px;
    left: 500px;
}

.caja3 {
    border: solid 2px violet;
    width: 100px;
    height: 100px;

    position: fixed;
    top: 50px;
    left: 50px;
}

.titulo-principal {
    text-align: center;
    background-color: springgreen;

    position: fixed;
    left: 500px;
}

.header-color{
    background-color: tomato;
}

.caja4{
    border: solid 2px brown;
    width: 150px;
    height: 150px;
}